@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

/* CSS Variables */
:root {
  --primary-color: black;
  --secondary-color: white;
  --transition: 0.2s ease-out;
  --width-after: 100%;
}

* {
  transition: var(--transition);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: #d0d0d0;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
}

nav {
  overflow: hidden;
  z-index: 5;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.nav-content {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.nav-content a {
  float: left;
  display: block;
  color: #d0d0d0;;
  text-align: center;
  padding: 0.25rem 1rem;
  text-decoration: none;
}

.nav-menu a:hover {
  border-bottom-style: solid;
}

body a.btn:hover {
  color: black;
  background-color: white;
}

/* MAIN CONTENT */

main {
  position: relative;
  z-index: 2;
  background-color: #0F0F0F;
  padding: 0 1rem;
}

.hero {
  height: 100vh;
}

.hero__content {
  display: flex;
  height: 100%;
}

.artwork {
  display: none;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.intro-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.intro__name, .intro__title, .intro__link {
  text-align: center;
}

.intro__name {
  font-weight: normal;
  font-size: 1rem;
  margin: 0 0 1.5rem;
}

.intro__title {
  font-size: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 3.5rem;
  width: 100%;
}

.intro__link {
  color: #CCCCCC;
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
}

.hero__links {
  position: relative;
  bottom: 2.5rem;
}

.hero__links {
  display: flex;
  column-gap: 5rem;
}

.hero__links svg{
  color: white;
}

/* PROJECT SECTION */
.projects {
  margin: 1rem 0;
}

.project-nav {
  display: none;
}

.project-content {
  height: 100vh;
}

.project-visuals {
  max-width: 100%;
}

.project-visuals img {
  max-width: 100vw;
  max-height: 100%;
  margin: 0 -1rem;
}

.img-desktop {
  display: none;
}

.project-info {
  display: flex;
  flex-wrap: wrap;
}

.project-title, .project-desc, .project-tech, .project-links {
  width: 100%;
}

.project-title {
  margin: 1.5rem 0;
}

.project-desc {
  margin: 0 0 3rem;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem 2.5rem;
  padding: 0;
  margin: 0 0 3rem;
}

.project-tech li {
  list-style-type: none;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 0 4rem;
}

.project-links a {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: white;
}

/* ABOUT SECTION */
.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.about__visuals {
  width: 100%;
  height: 20%
}

.about__label {
  text-transform: uppercase;
}

.about__info-wrap {
  display: flex;
  align-items: center;
}

.about__info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 0;
}

.about__info p {
  width: 100%;
}

/* FOOTER */
footer {
  background-color: white;
  color: black;
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 25vh;
  display: flex;
  align-items: center;
}

.outro {
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.outro__links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

.outro__links a {
  text-decoration: none;
  color: black;
}

.note {
  position: absolute;
  bottom: 0;
  left: 25%;
}

@media (min-width: 768px) {
  /* NAV SECTION */
  .nav-content a {
    padding: 0.25rem;
  }
  .menu-projects {
    margin-right: 3rem;
  }

  /* HERO SECTION */
  .artwork {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    color: white;
    row-gap: 5rem;
  }

  .artwork .phrase {
    width: 100%;
    text-transform: uppercase;
    font-size: 4rem;
  }

  @supports (-webkit-text-stroke: 1px white) {
      .artwork .phrase {
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: black;
      }
  }

  .intro-wrap {
    justify-content: left;
    width: auto;
    margin-left: 3rem;
  }

  .intro__name, .intro__title {
    width: 100%;
    text-align: left;
  }

  .hero__links {
    bottom: 5rem;
  }

  /* PROJECTS SECTION */
  .project-content {
    height: auto;
    margin: 0 0 1rem;
    display: flex;
  }

  .img-desktop {
    display: block;
  }

  .project-visuals img {
    margin: 0;
  }

  .img-mobile {
    display: none;
  }

  .project-visuals, .project-info-wrap {
    width: 50%;
  }

  .project-visuals {
    overflow: hidden;
    position: relative;
  }

  .project-visuals:after {
    content: "";
    position: absolute;
    width: var(--width-after);
    height: 100%;
    top: 0;
    right: 0;
    background: #0F0F0F;
  }

  .project-visuals p {
    color: white;
    position: relative;
    bottom: 3rem;
    left: 2rem;
  }

  .project-label {
    position: absolute;
    top: 0;
    bottom: 0;
    text-transform: uppercase;

    transform-origin: 0 0;
    transform: rotate(270deg);
    /* Safari */
    -webkit-transform: rotate(270deg);

    /* Firefox */
    -moz-transform: rotate(270deg);
  }

  .project-number {
    color: black;
  }

  .project-info-wrap {
    display: flex;
    align-items: center;
  }

  .project-info {
    margin: 0 0 0 1rem;
  }

  /* ABOUT SECTION */
  .about {
    height: auto;
    flex-wrap: nowrap;
  }

  .about__visuals {
    width: 50%;
    height: auto;
    display: flex;
    align-items: end;
  }

  .about__label {
    position: relative;
    left: 2rem;
    width: 200px;
  }

  .label-text {
    position: absolute;
    top: 0;
    bottom: 0;

    transform-origin: 0 0;
    transform: rotate(270deg);
    /* Safari */
    -webkit-transform: rotate(270deg);

    /* Firefox */
    -moz-transform: rotate(270deg);
  }

  .about__info-wrap {
    width: 50%;
  }

  .about__info p {
    width: 90%;
  }

  /* FOOTER */
  footer {
    flex-wrap: wrap;
  }
  .outro {
    width: 100%;
    height: 40%;
    padding: 0 3rem;
  }

  .outro__title, .outro__links {
    width: 50%;
  }

  .outro__title {
    margin: 0;
  }

  .outro__links {
    align-items: center;
  }

  .note {
    left: 0;
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: center;
  }

}

@media (min-width: 992px) {
  /* NAV SECTION */
  .menu-projects {
    margin-right: 5rem;
  }

  /* MAIN SECTION */
  main {
    padding: 0;
  }

  .hero {
    padding: 0 2rem;
  }

  .artwork {
    row-gap: 3rem;
  }

  .artwork .phrase {
    font-size: 5rem;
  }

  .intro-wrap {
    margin-left: 4rem;
  }

  .intro {
    width: auto;
  }

  .intro__name {
    font-size: 1.5rem;
    font-weight: lighter;
  }

  .intro__title {
    font-size: 4rem;
  }

  .intro__link {
    font-weight: lighter;
    text-transform: uppercase;
  }

  .hero__links {
    bottom: 3rem;
  }

  .project-content {
    height: 100vh;
    margin: 0;
  }

  .project-visuals img {
    max-width: none;
    max-height: none;
    height: 100%;
    max-width: auto;
    right: 35%;
  }

  .project-number {
    position: absolute;
    left: 2rem;
    bottom: 0;
    font-size: 3rem;
  }

  @supports (-webkit-text-stroke: 1px white) {
      .project-number {
        -webkit-text-stroke: 1px black;
        -webkit-text-fill-color: transparent;
      }
  }

  .project-info-wrap {
    width: 50%;
    justify-content: center;
  }

  .project-info {
    margin: 0 2rem 0;
  }

  .project-title {
    font-size: 3rem;
    font-weight: normal;
    text-transform: uppercase;
  }

  .project-desc {
    width: 65%;
  }

  .project-links svg {
    margin-top: -5px;
  }

  /* ABOUT SECTION */
  .about {
    height: 100vh;
  }

  .about__label {
    bottom: 3rem;
  }

  .about__info {
    margin: 0 2rem 0;
  }

  .about__info p {
    width: 70%;
    font-size: 1.25rem;
  }
}

@media (min-width: 1600px) {

  .artwork {
    width: 70%;
  }

  .hero__links {
    column-gap:  8rem;
  }

  .hero__links svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .project-info {
    width: 80%;
    margin: 0;
  }
}
